<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Main Characters Only</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <%- include('partials/header') %>
    <% if (locals.user) {%>
      <h1>WELCOME BACK <%= user.name %></h1>
      <h1>WELCOME BACK <%= user %></h1>
      <a href="/log-out">LOG OUT</a>
    <% } else { %>
      <h3>Log in</h3>
      <a href="/log-out">LOG OUT</a>
    <% } %>
  </body>
</html>
