<footer
  style="
    padding: 20px;
    background: linear-gradient(90deg, var(--indigo-dark), var(--indigo-light));
    color: #eee;
    text-align: center;
  "
>
  <p>&copy; 2025 Main Characters</p>
  <nav>
    <a href="#" style="color: #aaa; margin: 0 10px">Home</a>
    <a href="#" style="color: #aaa; margin: 0 10px">About</a>
    <a href="#" style="color: #aaa; margin: 0 10px">Contact</a>
  </nav>
</footer>
