<% if (comments.length) { %>
  <div class="card-container">
    <% comments.forEach(comment => { %>
        <div class="card">
          <h2><%= comment.title %></h2>
          <p><%= comment.message %></p>
          <% if (locals.user && (locals.user.ismember || locals.user.isadmin)) { %>
            <p>
              <%= comment.name%>
              <%= comment.surname %>
            </p>
          <% } else { %>
            <p style="font-weight: bold;">Confidential Info</p>
          <% } %>
        </div>
    <% }) %>
  </div>
<% } %>
