<% if (comments.length) { %>
  <div class="card-container">
    <% comments.forEach(comment => { %>
        <div class="card">
          <h2><%= comment.title %></h2>
          <p><%= comment.message %></p>
          <% if (locals.user) { %>
            <p>
              <%= userName.name %>
            </p>
          <% } %>
        </div>
    <% }) %>
  </div>
<% } %>
