<form method="POST" action="/" class="form">
  <h4>Sign In</h4>
  <p class="form-card-p">Enter your credentials to access your account</p>
  <label for="user_email">Email</label>
  <input
    type="email"
    name="user_email"
    id="user_email"
    required
    placeholder="your@email.com"
  />
  <label for="user_password">Password</label>
  <input
    type="password"
    name="user_password"
    id="user_password"
    required
    placeholder="Enter your password"
  />
  <button class="action-button">Sign In</button>
  <div class="call-to-action">
    <p>
      No account? No problem! <a class="action-link" href="/signup">Sign up</a>
    </p>
  </div>
</form>
