<form method="POST" action="/" class="form">
  <label for="user_email">Email address</label>
  <input type="email" name="user_email" id="user_email" />
  <label for="user_password">Password</label>
  <input type="password" name="user_password" id="user_password" />
  <button>Signin</button>
</form>
<div class="call-to-action">
  <p>No account? No problem!</p>
  <a href="/signup">Signup now</a>
</div>
