<form method="POST" action="/signup" class="form">
  <h4>Sign Up</h4>
  <p class="form-card-p">Create your account to get started</p>

  <% if (errors.length) { %>
    <%- include('error-container', {errors}) %>
  <% } %>
  <div class="name-container">
    <div class="name-group">
      <label for="first_name">First Name</label>
      <input
        type="text"
        id="first_name"
        name="name"
        required
        placeholder="John"
      />
    </div>
    <div class="name-group">
      <label for="last_name">Last Name</label>
      <input
        type="text"
        id="last_name"
        name="surname"
        required
        placeholder="Doe"
      />
    </div>
  </div>

  <label for="user_email">Email</label>
  <input
    type="email"
    name="email"
    id="user_email"
    required
    placeholder="your@email.com"
  />

  <label for="user_password">Password</label>
  <input
    type="password"
    name="password"
    id="user_password"
    required
    placeholder="Enter your password"
    pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9]).{6,}$"
  />

  <label for="password_confirmation">Confirm Password</label>
  <input
    type="password"
    name="passwordConfirm"
    id="password_confirmation"
    required
    placeholder="Confirm your password"
  />

  <div class="member-container">
    <input type="checkbox" name="isMember" id="member_pass" />
    <label for="member_pass"
      >Become a member
      <span style="color: rgb(92, 90, 90)"
        >(see author names and dates on notes)</span
      ></label
    >
  </div>

  <label id="passphrase-label" for="admin_pass"
    >Secret Passphrase
    <p>(supreme god in Norse mythology)</p></label
  >
  <input
    type="text"
    name="isAdmin"
    id="admin_pass"
    placeholder="Optional - for admin access"
  />
  <button class="action-button">Create Account</button>
  <div class="call-to-action">
    <p>already have an account? <a class="action-link" href="/">Sign in</a></p>
  </div>
</form>
