:root {
  --indigo-dark: #4f46e5;
  --indigo-light: #9333ea;
  --lightest-gray: #f8fafc;
  --light-gray: #f1f5f9;

  --indigo-dark-hover: #4e46e5d8;
  --indigo-light-hover: #9233ead7;
}

body,
html {
  height: 100%;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;

  background: linear-gradient(135deg, var(--lightest-gray), var(--light-gray));
}

.header {
  background: linear-gradient(90deg, var(--indigo-dark), var(--indigo-light));
  min-height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;

  & h1 {
    color: white;
    font-weight: 300;
  }
}

.main-header-container {
  width: 1536px;
  display: flex;
  justify-content: space-between;
  margin: 0 3rem;
  align-items: center;
  color: white;

  & h1 {
    font-size: 1.4rem;
  }

  & div {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;
  }
}

.signout-btn {
  background-color: rgba(255, 255, 255, 0.1);
  height: 2rem;
  display: flex;
  gap: 0.3rem;
  align-items: center;
  color: white;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0 2px white;
  text-decoration: none;
  cursor: pointer;
}

.signout-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.form {
  display: flex;
  flex-direction: column;
  margin: 6rem auto;
  padding: 2rem;
  padding-top: 3rem;

  background-color: #fff;
  border-radius: 15px;
  border: 1px solid rgb(202, 199, 199);
  min-width: 300px;
  max-width: 500px;

  & h4 {
    color: var(--indigo-dark);
    font-weight: 300;
    font-size: 1.3rem;
  }

  & input {
    border: none;
    background-color: var(--light-gray);
    height: 2.3rem;
    border-radius: 10px;
    padding-left: 1rem;
  }

  & label {
    margin-top: 1rem;
    margin-bottom: 0.2rem;
  }

  & .action-button {
    margin-top: 2rem;
    color: white;
    background-color: #030213;
    border: none;
    border-radius: 10px;
    height: 2.3rem;
    transition: all 0.1s;
  }
}

#passphrase-label {
  display: flex;
  flex-direction: row;

  & p {
    font-size: 1rem;
    color: rgb(83, 83, 83);
    margin-left: 0.4rem;
  }
}

.name-container {
  display: flex;
  gap: 1rem;
}

.name-group {
  display: flex;
  flex-direction: column;

  & input {
    width: 100%;
  }
}

.form-card-p {
  color: rgb(44, 43, 43);
  font-size: 1.3rem;
  font-weight: 200;
}

.call-to-action {
  text-align: center;
  margin: 1.8rem auto 0 auto;
  color: rgb(88, 88, 88);

  & a {
    text-decoration: none;
    color: var(--indigo-dark);
  }
}

.action-button:hover {
  background-color: #030213d3;
  cursor: pointer;
}

.action-link:hover {
  text-decoration: underline;
}

.guest-or {
  display: flex;
  justify-content: center;
  align-items: center;

  & p {
    margin: 1rem 0.5rem;
    color: rgb(97, 97, 97);
  }

  & hr {
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.233);
  }
}

.guest-button {
  color: black;
  background-color: white;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 10px;
  height: 2.3rem;
  transition: all 0.1s;
  width: 100%;
}

.guest-button:hover {
  background-color: rgb(241, 241, 241);
  cursor: pointer;
}

.member-container {
  background-color: var(--lightest-gray);
  margin-top: 1rem;

  display: flex;
  align-items: center;

  & input {
    margin: 0 0.5rem;
    accent-color: black;
    transform: scale(1.4);
  }
}

.error-container {
  color: #ac1818;
  border: 1px solid #ce1f1f;
  padding: 1rem;
  border-radius: 10px;
  background-color: #ce1f1f13;
  margin-top: 1rem;

  & h4 {
    color: #ce1f1f;
  }
}

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  align-items: center;
  height: 100%;

  & h2 {
    color: var(--indigo-light);
    font-weight: 400;
  }

  & p {
    font-size: 1.3rem;
    max-width: 600px;
    text-align: center;
    color: #030213c5;
  }
}

.error-mark {
  border: 10px solid var(--indigo-dark);
  border-radius: 50%;
  width: 100px;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  & h1 {
    font-size: 4rem;
    color: var(--indigo-dark);
  }
}

.go-back-home {
  border-radius: 5px;
  height: 2rem;
  width: 10rem;

  border: none;
  background: linear-gradient(90deg, var(--indigo-dark), var(--indigo-light));
  color: white;

  cursor: pointer;
}

.go-back-home:hover {
  background: linear-gradient(
    90deg,
    var(--indigo-dark-hover),
    var(--indigo-light-hover)
  );
}

main {
  margin: auto;
  width: 1536px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
}

.card {
  border: solid 1px;
  width: 300px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  .main-header-container {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
  }

  .card-container {
    grid-template-columns: 100%;
    row-gap: 1rem;
  }
  main {
    width: 100vw;
  }
  .card {
    width: calc(100vw - 32px);
    margin: auto;
  }
  .signout-btn {
    font-size: 0.7rem;
    width: fit-content;
  }

  .signout-svg {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }

  main {
    width: 750px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 1024px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  main {
    width: 950px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1280px) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }

  main {
    width: 1536px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1536px) {
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
