:root {
  --indigo-dark: #4f46e5;
  --indigo-light: #9333ea;
  --lightest-gray: #f8fafc;
  --light-gray: #f1f5f9;
}

body,
html {
  height: 100%;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;

  background: linear-gradient(135deg, var(--lightest-gray), var(--light-gray));
}

.header {
  background: linear-gradient(90deg, var(--indigo-dark), var(--indigo-light));
  min-height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;

  & h1 {
    color: white;
    font-weight: 300;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin: 6rem auto;
  padding: 2rem;
  padding-top: 3rem;

  background-color: #fff;
  border-radius: 15px;
  border: 1px solid rgb(202, 199, 199);
  min-width: 300px;
  max-width: 500px;

  & h4 {
    color: var(--indigo-dark);
    font-weight: 300;
    font-size: 1.3rem;
  }

  & input {
    border: none;
    background-color: var(--light-gray);
    height: 2.3rem;
    border-radius: 10px;
    padding-left: 1rem;
  }

  & label {
    margin-top: 1rem;
    margin-bottom: 0.2rem;
  }

  & button {
    margin-top: 2rem;
    color: white;
    background-color: #030213;
    border: none;
    border-radius: 10px;
    height: 2.3rem;
    transition: all 0.1s;
  }
}

#passphrase-label {
  display: flex;
  flex-direction: row;

  & p {
    font-size: 1rem;
    color: rgb(83, 83, 83);
    margin-left: 1rem;
  }
}

.name-container {
  display: flex;
  gap: 1rem;
}

.name-group {
  display: flex;
  flex-direction: column;

  & input {
    width: 100%;
  }
}

.form-card-p {
  color: rgb(44, 43, 43);
  font-size: 1.3rem;
  font-weight: 200;
}

.call-to-action {
  text-align: center;
  margin: 1.8rem auto 0 auto;
  color: rgb(88, 88, 88);

  & a {
    text-decoration: none;
    color: var(--indigo-dark);
  }
}

.action-button:hover {
  background-color: #030213d3;
  cursor: pointer;
}

.action-link:hover {
  text-decoration: underline;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
